<div class="container">
  <div class="col-md-12 m-5 text-center">
    <h1 class="theme-color">Write an Article</h1>
  </div>


  <%= render 'form', article: @article %>

  <%= link_to 'Back', root_path %>

</div>