<div class="is-flex-direction-row is-align-content-center">
  <div class="column">
      <h3 class='column is-align-content-center'>
        <%= @user.name %>
      </h3>
      <%= link_to 'Back', articles_path %>
  </div>
</div>