<nav class="navbar navbar-default">
  <div class="container header">
    <div class="navbar-header">
      <%= link_to image_tag("logos/logo.png", alt: "logo", :size => "112x28"), '/', class: 'navbar-brand' %>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li><%= link_to 'HOME', root_path, class: 'theme-color' %></li>
      </ul>

      <ul class="nav navbar-nav">
         nav_menu(@nav_categories)
      </ul>

        <ul class="nav navbar-nav pull-right d-flex">
          <div class="navbar-nav">
            <%= session_button %>
          </div>
          <div class="navbar-nav">
            <%= sign_up_link %>
          </div>
    </div>
  </div>
</nav>