/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bulma";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

body {
  min-width: 1024px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;

  .nav-theme {
    color: #000;
    font-weight: 600;
  }

  .nav-margin {
    margin-left: -10px;
    margin-right: -10px;
  }

  .cat-margin {
    margin-left: 10px;
    margin-right: 10px;
    align-content: center;
  }

  nav.navbar.navbar-default {
    margin-bottom: 0;
  }

  .theme-color {
    font-weight: 400;
    color: #fe6001;
  }

  a {
    text-decoration: none;
  }

  .theme-btn {
    background-color: #4e453f;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
  }

  .feature {
    height: 100vh;
  }

  .featured {
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
  }

  .feature-title {
    padding-top: 200px;
    padding-left: 30px;
    font-size: 2rem;
  }

  .feature-text {
    padding-left: 30px;
    color: #fff;
    font-size: 2rem;
  }

  ul {
    list-style-type: none;
  }

  footer {
    background-color: #4e453f;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4.5rem;
  }

  .flex-h {
    display: flex;
  }

  .grid-h,
  .grid-c {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    height: 100vh;
    margin-bottom: 0;
  }

  .grid-h {
    height: 50vh;
  }

  .article-img {
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .content {
    margin: 0 20px;
    height: 50vh;
  }

  .footer-info {
    padding: 0;
    margin-left: 20px;

    li {
      margin: 10px;

      a {
        color: #000;
      }
    }
  }

  .category {
    background-repeat: no-repeat;
    background-size: cover;

    p {
      color: #fff;
      font-weight: 600;
      font-size: 2rem;
      margin-top: 40px;

      a {
        color: #fff;
        margin-left: 30px;
        margin-top: 30px;
        padding-bottom: 5px;
        font-weight: 600;
        border-bottom: 2px solid #cff32d;
      }

      a:hover {
        text-decoration: none;
        cursor: pointer;
      }
    }

    span {
      color: #fff;
      margin-left: 30px;
      font-weight: 600;
      font-size: 1.6rem;
      position: fixed;
      bottom: 100px;
    }
  }

  .underline {
    border-bottom: 2px solid #cff32d;
  }

  .field {
    margin: 20px auto;
  }

  .social-icons {
    border-radius: 100%;
    border: 1px solid #fe6001;
    font-size: 1rem;
    background-color: #fe6001;
    padding: 3px;
  }

  .rules {
    color: #fe6001;
  }
}
