/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bulma";
 
 body {
  .theme-color {
    font-weight: 400;
    color: #fe6001;
  }
  
  a {
    text-decoration: none;
  }

  .theme-btn {
    background-color: #4e453f;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
  }

  .feature {
    height: 100vh;
  }

  .featured {
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
  }

  .feature-title {
    padding-top: 200px;
    padding-left: 30px;
    font-size: 2rem;
  }
  
  .feature-text {
    padding-left: 30px;
    color: #fff;
    font-size: 2rem;
  }
 }