<div class="container">
  <div class="col-md-12 m-5 text-center">
    <h1 class="theme-color">New Category</h1>
  </div>
  <%= render 'form', category: @category %>

  <%= link_to 'Back', root_path %>
</div>